html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: monospace;
  /* background: linear-gradient(#141e30, #243b55); */
  background-image: url('../images/sloth.jpg');
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.904);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

::placeholder {
  color: white;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #03e9f4;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: large;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background: rgb(0, 0, 0);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(255, 255, 255),
              0 0 5px rgb(255, 255, 255),
              0 0 10px rgb(255, 255, 255),
              0 0 20px rgb(255, 255, 255);
}